*{
  margin: 0;
  padding: 0;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 12px;
  background-color: black;
  color: aliceblue;
  font-size:24px;
  border-radius: 25px;
}
main{
  display: flex;
  flex-direction: column;
  height: 580px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-cont{
display: flex;
gap: 16px;
font-size: 24px;
}
button
{
  border: 0px;
  padding: 18px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 12px;
  background-color: black;
  color: aliceblue;
  font-size:24px;
  border-radius: 25px;
}
.count
{
  font-size: 30px;
}